.imagem {
  width: 230px;
  height: 150px;
}

.imagem-rodape {
  width: 125px;
  height: 125px;

  border-radius: 100%;
}

.conteudo-galeria{
    display: flex;
    background-color: rgb(81, 153, 81);
    align-items: center;
    justify-content: center;  
  }

  .bg1{
    background-color: gainsboro;
  }

  .text-area{
    box-sizing: 100px;
  }

  .borda-div{
    border-bottom: black solid 2px;
  }
